@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Poppins:400,500,600,700');

body,
.content-header>h1,
.content-header .content-header-left h1,
.main-header .logo .logo-lg,
.seo-info,
.login-box-msg,
.content-header>h1, 
.content-header .content-header-left h1, h3 {
	font-family: 'Poppins', sans-serif!important;
}


body {
	font-size: 13px;	
}

input, select, textarea {
	font-size: 13px!important;
}

.login-page {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.error {
	color: red!important;
	border: 0;
	background: 0;
	padding: 0;
	margin-bottom: 10px;
}

.success {
	color: green!important;
	border: 0;
	background: 0;
	padding: 0;
	margin-bottom: 10px;
}

.video-iframe iframe {
	width: 100%;
	height: 200px;
}

select.form-control {
	padding-top: 2px;
}

.navbar-nav>.user-menu .user-image {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.login-logo {
	font-size: 20px;
}
.login-logo b {
	font-size: 28px;
}


.main-header .logo {
	text-align: left;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
	margin-left: 0;
}

.info-box-number {
    font-size: 34px;
}

.garment-label-heading {
    text-align: left;
    font-weight: bold;
    background: #eee;
    padding: 10px 15px;
    border-radius: 4px;
}

.garment-label {
    color: #d43f3a;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.dropdown-menu {
    min-width: auto;
}

.disable-click {
    pointer-events: none!important;
}

.box-info {
    padding-top: 20px;
}

.content-header>h1 {
    position: relative;
    padding-left: 30px;
}

.content-header>h1:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'FontAwesome', sans-serif;
    font-size: 26px;
    content: '\f18e';
}

.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left:before {
    content: "\f105";
}

h4.modal-title {
    color: #3c8dbc;
    font-weight: bold;
}

.rTable {
    display: table;
    width: 100%;
    border: 1px solid #999999;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableHead {width: 30%;}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}

.content-header {
	overflow: hidden;
}
.content-header .content-header-left {
	float: left;
	padding-top: 5px;
}
.content-header .content-header-right {
	float: right;
}
.content-header .content-header-left h1 {
	margin-top: 0;
	margin-bottom: 4px;
	padding-left: 30px;
	font-size: 24px;
	position: relative;
}
.content-header .content-header-left h1:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'FontAwesome', sans-serif;
    font-size: 26px;
    content: '\f18e';
}
.content-header .content-header-right a {
	position: relative;
	/*padding-left: 24px;*/
	font-size: 13px;
}
/*.content-header .content-header-right a:before {
    position: absolute;
    top: 4px;
    left: 5px;
    font-family: 'FontAwesome', sans-serif;
    font-size: 13px;
    content: '\f067';
}*/

.checkbox-inline {
	padding-top: 0!important;
}
.checkbox-content {
	float: left;
	border: 1px solid #aaa;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
}

.checkbox-content.role-access {
	float: none;
	border: 0;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #3c8dbc;
    border-left-color: #3c8dbc;
}

.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.ml10 {
	margin-left: 10px;
}

img.existing-photo {
	max-width: 500px;
}

.slimScrollBar {
	background: none repeat scroll 0 0 #9e9e9e !important;
	border-radius: 0;
	display: none;
	height: 702.936px;
	position: absolute;
	right: 1px;
	top: 145px;
	width: 10px!important;
	z-index: 99;
	opacity:0.7!important;
}




.seo-info {
	color: red;
	font-weight: 700;
	font-size: 13px;
	background: #e4e4e4;
	padding:  15px;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #333333;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
	background-color: #4c4c4c;
	border-left-color: #000000;
}

.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: #333333;
}
.box.box-info {
	border-top-color: #4c4c4c;
}

.user-footer div {
	width: 100%;
}
.user-footer div:first-child {
	margin-bottom: 10px;
}
.user-footer div a {
	display: block;
}

.navbar-nav>.user-menu>.dropdown-menu {
	width:  140px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
	background-color:  #d6d6d6;
}

.content-header .content-header-right a {
	background-color: #333333;
	border-color: #333333;
}
.form-control:focus {
	border-color: #8d8d8d;	
}

.login-button {
	background-color: #333333;
	border-color: #333333;
}

iframe {
	/* width: 300px!important; */
}

.sidebar-menu .treeview-menu>li>a {
	font-size: 13px;
}

.iframe-thumb iframe {
	width:300px;
	height: 200px;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar-menu .treeview-menu>li>a {
	padding: 8px 5px 8px 15px;
}

.select2-container {
	width: 100%!important;
}


.login-box-body {
	border-radius: 4px;
}

input[type=submit].btn-block {
	border-radius: 4px;
	padding: 10px 0;
}

label {
	font-weight: 400;
}

.form-control {
	font-size: 13px;
}

.skin-blue .sidebar-menu>li>a {
	font-size: 13px;
}

.btn-xs {
	font-size: 13px;
}

textarea+.panel {
	border-radius: 0!important;
}

.note-editor.note-frame {
	border-color: #d2d6de!important;
}

textarea+.panel:focus {
	border-color: #000!important;	
}


.callout.callout-danger p {
	margin-bottom: 0!important;
}

.skin-blue .main-header .navbar .nav>li>a {
	height: 50px!important;
}



.tab-v .nav-tabs>li {
	float: none!important;
}

/*.tab-v {
	width: 100%;
}

.tab-v .nav-tabs>li {
	float: none!important;
}

.tab-v .nav-tabs {
	width: 200px!important;
	float: left;
}

.tab-v .tab-content {
	width: calc(100% - 200px)!important;
	float: left;
}*/


.tab-v .nav-tabs>li.active>a, 
.tab-v .nav-tabs>li.active>a:focus, 
.tab-v .nav-tabs>li.active>a:hover {
	border: 0;
	border-radius: 0;
}

.tab-v .nav-tabs>li.active>a {
	background: #333;
	color: #fff;
}

.tab-v .nav-tabs>li>a {
	background: #eaeaea;
	border-radius: 0;
	margin-bottom: 3px;
	color: #000;
	font-weight: bold;
}

.tab-v .nav-tabs {
	border-bottom: 0;
}


.mfp-bg {
	z-index: 9997;
}

.mfp-wrap {
	z-index: 9998;
}

.mfp-content {
	z-index: 9999;
}

.rTable iframe {
	width: 100%;
	height: 200px;
}

.table-video-1 iframe {
	width: 300px;
	height: 200px;
}


div.pagination {
    padding: 3px;
    margin: 3px;
    z-index: 1000;
    font-size: 14px;
    margin-bottom: 20px;    
}

div.pagination a {
    padding: 5px 7px;
    margin: 2px;
    border: 1px solid #2ab393;
    text-decoration: none; /* no underline */
    background-color: #2ab393;
    color: #FFF;
    font-weight: bold;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #2ab393;
    color: #FFF;
    background-color: #76e0c7;
}

div.pagination span.current {
    padding: 5px 7px;
    margin: 2px;
    border: 1px solid #2ab393;
    font-weight: bold;
    background-color: #76e0c7;
    color: #FFF;
    font-weight: bold;
}

div.pagination span.disabled {
    padding: 5px 7px;
    margin: 2px;
    border: 1px solid #929693;
    color: #929693;
}

.btn-xs {
	font-size: 14px;
}

.modal-dialog {
	width: 80%!important;
}

h3.sec_title {
	background: #fbdd9b;
	font-size: 15px;
	color: #000!important;
	padding: 10px;
	margin-top: 20px;
}

.note-group-select-from-files {
    display:none;
}